p {
  color: navy;
}
h1 {
  color: yellowgreen;
}
h2 {
  background-color: orangered;
}
h3 {
  color: aqua;
  text-align: center;
  text-decoration: dotted;
  text-transform: capitalize;
}
h4 {
  text-align: justify;
  font: 25px solid red;
  color: rgb(9, 95, 171);
  text-decoration: underline;
}
.p {
  color: magenta;
  background-color: blueviolet;
  text-align: justify;
  text-decoration: line-through;
  text-transform: uppercase;
}
